<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.berkeley.cs160.off_by_1"
    android:versionCode="1"
    android:versionName="1.0" >
	<uses-permission android:name="android.permission.INTERNET" /> 
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pen_pal_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait" 
         >
        <activity
            android:name="edu.berkeley.cs160.off_by_1.Home"
            android:theme="@style/PenPalTheme" >
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.berkeley.cs160.off_by_1.FriendList"
            android:label="@string/title_activity_friend_list"
            android:parentActivityName="edu.berkeley.cs160.off_by_1.Home"
            android:theme="@style/PenPalTheme" >
        </activity>
        
        <activity
            android:name="edu.berkeley.cs160.off_by_1.SendMessage"
            android:label="@string/title_activity_send_message"
            android:parentActivityName="edu.berkeley.cs160.off_by_1.Home"
            android:theme="@style/PenPalTheme" >
        </activity>
        <activity
            android:name="edu.berkeley.cs160.off_by_1.Profile"
            android:label="@string/title_activity_profile"
            android:parentActivityName="edu.berkeley.cs160.off_by_1.FriendList"
            android:theme="@style/PenPalTheme" >
        </activity>
        <activity
            android:name="edu.berkeley.cs160.off_by_1.MakeMessage"
            android:label="@string/title_activity_make_message"
            android:parentActivityName="edu.berkeley.cs160.off_by_1.SendMessage"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/PenPalTheme" >
            >
        </activity>
        <activity
            android:name="edu.berkeley.cs160.off_by_1.ReceiveMessage"
            android:label="@string/title_activity_receive_message"
            android:parentActivityName="edu.berkeley.cs160.off_by_1.Home"
            android:theme="@style/PenPalTheme" >
            >
        </activity>
        <activity
            android:name="edu.berkeley.cs160.off_by_1.MeetPenPal"
            android:label="@string/title_activity_meet_pen_pal"
            android:parentActivityName="edu.berkeley.cs160.off_by_1.FriendLit"
            android:theme="@style/PenPalTheme" >
            >
        </activity>
        <activity
            android:name="edu.berkeley.cs160.off_by_1.MessageSent"
            android:label="@string/title_activity_message_sent"
            android:theme="@style/PenPalTheme" >

        </activity>
    </application>

</manifest>
